In [ ]:
# make necessary imports for a data science project
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# load the file
# stratified sample file
data=pd.read_csv('/content/EastCoast.csv')
# remove features: listing_url, scrape_id, source, picture_url, host_url, host_thumbnail_url, host_picture_url, neighbourhood
data.drop(['listing_url', 'scrape_id', 'source', 'picture_url', 'host_url', 'host_thumbnail_url', 'host_picture_url', 'neighbourhood', 'City'], axis=1, inplace=True)
data.describe()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 68 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            5847 non-null   float64
 1   last_scraped                                  5847 non-null   object
 2   name                                          5846 non-null   object
 3   description                                   5712 non-null   object
 4   neighborhood_overview                         3376 non-null   object
 5   host_id                                       5847 non-null   int64
 6   host_name                                     5847 non-null   object
 7   host_since                                    5847 non-null   object
 8   host_location                                 4629 non-null   object
 9   host_about                                    3362 non-null   object
 10  host_response_time                            4771 non-null   object
 11  host_response_rate                            4771 non-null   object
 12  host_acceptance_rate                          4877 non-null   object
 13  host_is_superhost                             5741 non-null   object
 14  host_neighbourhood                            4484 non-null   object
 15  host_listings_count                           5847 non-null   float64
 16  host_total_listings_count                     5847 non-null   float64
 17  host_verifications                            5847 non-null   object
 18  host_has_profile_pic                          5847 non-null   object
 19  host_identity_verified                        5847 non-null   object
 20  neighbourhood_cleansed                        5847 non-null   object
 21  neighbourhood_group_cleansed                  2410 non-null   object
 22  latitude                                      5847 non-null   float64
 23  longitude                                     5847 non-null   float64
 24  property_type                                 5847 non-null   object
 25  room_type                                     5847 non-null   object
 26  accommodates                                  5847 non-null   int64
 27  bathrooms                                     4837 non-null   float64
 28  bathrooms_text                                5843 non-null   object
 29  bedrooms                                      5512 non-null   float64
 30  beds                                          4827 non-null   float64
 31  amenities                                     5847 non-null   object
 32  price                                         4819 non-null   object
 33  minimum_nights                                5847 non-null   int64
 34  maximum_nights                                5847 non-null   int64
 35  minimum_minimum_nights                        5847 non-null   float64
 36  maximum_minimum_nights                        5847 non-null   float64
 37  minimum_maximum_nights                        5847 non-null   float64
 38  maximum_maximum_nights                        5847 non-null   float64
 39  minimum_nights_avg_ntm                        5847 non-null   float64
 40  maximum_nights_avg_ntm                        5847 non-null   float64
 41  calendar_updated                              0 non-null      float64
 42  has_availability                              5536 non-null   object
 43  availability_30                               5847 non-null   int64
 44  availability_60                               5847 non-null   int64
 45  availability_90                               5847 non-null   int64
 46  availability_365                              5847 non-null   int64
 47  calendar_last_scraped                         5847 non-null   object
 48  number_of_reviews                             5847 non-null   int64
 49  number_of_reviews_ltm                         5847 non-null   int64
 50  number_of_reviews_l30d                        5847 non-null   int64
 51  first_review                                  4625 non-null   object
 52  last_review                                   4625 non-null   object
 53  review_scores_rating                          4625 non-null   float64
 54  review_scores_accuracy                        4620 non-null   float64
 55  review_scores_cleanliness                     4621 non-null   float64
 56  review_scores_checkin                         4620 non-null   float64
 57  review_scores_communication                   4620 non-null   float64
 58  review_scores_location                        4620 non-null   float64
 59  review_scores_value                           4619 non-null   float64
 60  license                                       906 non-null    object
 61  instant_bookable                              5847 non-null   object
 62  calculated_host_listings_count                5847 non-null   int64
 63  calculated_host_listings_count_entire_homes   5847 non-null   int64
 64  calculated_host_listings_count_private_rooms  5847 non-null   int64
 65  calculated_host_listings_count_shared_rooms   5847 non-null   int64
 66  reviews_per_month                             4625 non-null   float64
 67  cityName                                      5847 non-null   object
dtypes: float64(23), int64(15), object(30)
memory usage: 3.0+ MB

In [ ]:
data.describe()

,id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,5.847000e+03,5.847000e+03,5847.000000,5847.000000,5847.000000,5847.000000,5847.000000,4837.000000,5512.000000,4827.000000,...,4621.000000,4620.000000,4620.000000,4620.000000,4619.000000,5847.000000,5847.000000,5847.000000,5847.000000,4625.000000
mean,4.891777e+17,1.940016e+08,151.937746,205.808449,39.147857,-75.382726,3.742261,1.368617,1.674891,2.109799,...,4.735592,4.843297,4.844619,4.745602,4.684852,28.380537,18.439371,8.936891,0.037284,1.541319
std,4.767800e+17,1.823095e+08,688.443477,842.626495,5.565201,3.294494,2.669649,0.736508,1.183063,1.724245,...,0.445546,0.358229,0.372970,0.399476,0.446532,100.543872,83.543057,57.031417,0.461644,1.745683
min,6.990000e+03,1.680000e+04,1.000000,1.000000,25.961850,-82.669470,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,3.554202e+07,3.071259e+07,1.000000,2.000000,40.677475,-77.616836,2.000000,1.000000,1.000000,1.000000,...,4.670000,4.830000,4.850000,4.670000,4.600000,1.000000,1.000000,0.000000,0.000000,0.280000
50%,6.087958e+17,1.242742e+08,3.000000,5.000000,40.765739,-73.981760,3.000000,1.000000,1.000000,2.000000,...,4.880000,4.960000,4.960000,4.870000,4.800000,3.000000,1.000000,0.000000,0.000000,0.920000
75%,9.499279e+17,3.605473e+08,16.000000,21.000000,42.373900,-73.789494,5.000000,1.500000,2.000000,3.000000,...,5.000000,5.000000,5.000000,5.000000,4.930000,11.000000,5.000000,1.000000,0.000000,2.210000
max,1.237960e+18,5.917071e+08,4682.000000,9019.000000,43.265730,-71.002710,16.000000,12.500000,15.000000,25.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,876.000000,876.000000,719.000000,12.000000,19.140000

In [ ]:
#  let us first handle the floats and int64 for missing values
# to do that create a list of such dtype columns
# also print the number of missing value ratio for each columne (assuming 5487 total recs)
dataNumericList=data.select_dtypes(include=['float64']).columns
print(dataNumericList)
data[dataNumericList].isnull().sum()/5487 * 100

Index(['id', 'host_listings_count', 'host_total_listings_count', 'latitude',
       'longitude', 'bathrooms', 'bedrooms', 'beds', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'reviews_per_month'],
      dtype='object')

id                               0.000000
host_listings_count              0.000000
host_total_listings_count        0.000000
latitude                         0.000000
longitude                        0.000000
bathrooms                       18.407144
bedrooms                         6.105340
beds                            18.589393
minimum_minimum_nights           0.000000
maximum_minimum_nights           0.000000
minimum_maximum_nights           0.000000
maximum_maximum_nights           0.000000
minimum_nights_avg_ntm           0.000000
maximum_nights_avg_ntm           0.000000
calendar_updated               106.560962
review_scores_rating            22.270822
review_scores_accuracy          22.361946
review_scores_cleanliness       22.343722
review_scores_checkin           22.361946
review_scores_communication     22.361946
review_scores_location          22.361946
review_scores_value             22.380171
reviews_per_month               22.270822
dtype: float64

In [ ]:
# drop the calendar_updated as it is totally null column
data.drop(['calendar_updated'], axis=1, inplace=True)

In [ ]:
floatColList=['review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value','reviews_per_month']
# Structural inaccuracy: bathrooms, bedrooms, beds as they contain only discrete values
# Imputation : replace with outlier, median and mean and check the differences in statistical parameters : viz mean, median, stddev
# Outlier treatment : replace
dataWithMeanReplacement=data.copy()
dataWithMedianReplacement=data.copy()
dataWithOutlierReplacement=data.copy()

# fill na of dataWithMeanReplacement  with the mean for floatColList
dataWithMeanReplacement[floatColList]=dataWithMeanReplacement[floatColList].fillna(dataWithMeanReplacement[floatColList].mean())
# fill na of dataWithMedianReplacement with the median for floatColList
dataWithMedianReplacement[floatColList]=dataWithMedianReplacement[floatColList].fillna(dataWithMedianReplacement[floatColList].median())
# fill na of dataWithOutlierReplacement with the positive extreme outlier i.e. mean + 3* std deviation
dataWithOutlierReplacement[floatColList]=dataWithOutlierReplacement[floatColList].fillna(dataWithOutlierReplacement[floatColList].mean() + 3*dataWithOutlierReplacement[floatColList].std())

In [ ]:
# LOAD mean, std, 50% keys in relevant data structure for 3 models
# ASSUME A NAIVE model, the model which returns maximum number of minimum keys is the best
infodic = {}
for model_name, model_df in {
    'Median Replacement': dataWithMedianReplacement,
    'Mean Replacement': dataWithMeanReplacement,
    'Outlier Replacement': dataWithOutlierReplacement
}.items():
    infodic[model_name] = {
        'mean': model_df.describe().loc['mean'],
        'std': model_df.describe().loc['std'],
        '50%': model_df.describe().loc['50%']
    }
# MEAN:
# MEDIAN:
# STDDEV:
def find_model_with_most_min_keys(infodic):
    """
    Finds the model with the most keys of minimum absolute value.
    Args:
        infodic: A dictionary containing statistics for different models.
    Returns:
        The name of the model with the most keys of minimum absolute value.
    """

    min_key_counts = {}
    for model_name, stats in infodic.items():
        min_keys_count = 0
        for stat_type, values in stats.items():
            min_val = np.min(np.abs(values))  # Find minimum absolute value
            min_keys = values[np.isclose(np.abs(values), min_val)]  # Get keys with minimum absolute value
            min_keys_count += len(min_keys)  # Count the number of minimum keys

        min_key_counts[model_name] = min_keys_count

    # Find the model with the maximum number of minimum keys
    best_model = max(min_key_counts, key=min_key_counts.get)
    return best_model

# Example usage:
best_model = find_model_with_most_min_keys(infodic)
print(f"The model with the most keys of minimum absolute value is: {best_model}")

The model with the most keys of minimum absolute value is: Median Replacement

In [ ]:
# Proceed with median replacement
# now it is time for handling the beds, bedrooms, bathrooms
# first create a separate list for them
rooms=['bedrooms','bathrooms','beds']
# print their unique values in the dataset
for room in rooms:
  print(dataWithMedianReplacement[room].unique())

# Although it is float 64, these are discrete values so we treat them categorically
# Methods : median replacement, mode replacement, replace with low frequency arbitrary values
dataModeReplacement=dataWithMedianReplacement.copy()
dataModeReplacement[rooms]=dataModeReplacement[rooms].fillna(dataModeReplacement[rooms].mode().iloc[0])

dataLowFreqReplacement=dataWithMedianReplacement.copy()
dataLowFreqReplacement[rooms]=dataLowFreqReplacement[rooms].fillna(dataLowFreqReplacement[rooms].mode().iloc[0])

dataMedianRoomsReplacement=dataWithMedianReplacement.copy()
dataMedianRoomsReplacement[rooms]=dataMedianRoomsReplacement[rooms].fillna(dataMedianRoomsReplacement[rooms].median())

[ 2.  1.  0.  3.  4.  5. nan  7.  6.  8. 15.  9.]
[ 1.   3.5  2.5  2.   1.5  nan  5.5  0.   0.5  7.   4.   3.   5.   6.
  4.5  6.5 12.5  8. ]
[ 2.  1.  3.  4.  6. nan  0.  5.  7. 10. 12.  9.  8. 15. 14. 18. 25. 11.
 13.]

In [ ]:
# create a new infodic and find the best model using definitions already defined
infodic = {}
for model_name, model_df in {
    'Mode Replacement': dataModeReplacement,
    'Low Frequency Replacement': dataLowFreqReplacement,
    'Median Replacement': dataMedianRoomsReplacement
}.items():infodic[model_name] = {
        'mean': model_df.describe().loc['mean'],
        'std': model_df.describe().loc['std'],
        '50%': model_df.describe().loc['50%']
    }

best_model = find_model_with_most_min_keys(infodic)
print(f"The model with the most keys of minimum absolute value is: {best_model}")

The model with the most keys of minimum absolute value is: Mode Replacement

In [ ]:
# Go ahead with Mode Replacement for these values
# Check if all missing values of float and int 64 have been handled or not
dataModeReplacement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 67 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            5847 non-null   float64
 1   last_scraped                                  5847 non-null   object
 2   name                                          5846 non-null   object
 3   description                                   5712 non-null   object
 4   neighborhood_overview                         3376 non-null   object
 5   host_id                                       5847 non-null   int64
 6   host_name                                     5847 non-null   object
 7   host_since                                    5847 non-null   object
 8   host_location                                 4629 non-null   object
 9   host_about                                    3362 non-null   object
 10  host_response_time                            4771 non-null   object
 11  host_response_rate                            4771 non-null   object
 12  host_acceptance_rate                          4877 non-null   object
 13  host_is_superhost                             5741 non-null   object
 14  host_neighbourhood                            4484 non-null   object
 15  host_listings_count                           5847 non-null   float64
 16  host_total_listings_count                     5847 non-null   float64
 17  host_verifications                            5847 non-null   object
 18  host_has_profile_pic                          5847 non-null   object
 19  host_identity_verified                        5847 non-null   object
 20  neighbourhood_cleansed                        5847 non-null   object
 21  neighbourhood_group_cleansed                  2410 non-null   object
 22  latitude                                      5847 non-null   float64
 23  longitude                                     5847 non-null   float64
 24  property_type                                 5847 non-null   object
 25  room_type                                     5847 non-null   object
 26  accommodates                                  5847 non-null   int64
 27  bathrooms                                     5847 non-null   float64
 28  bathrooms_text                                5843 non-null   object
 29  bedrooms                                      5847 non-null   float64
 30  beds                                          5847 non-null   float64
 31  amenities                                     5847 non-null   object
 32  price                                         4819 non-null   object
 33  minimum_nights                                5847 non-null   int64
 34  maximum_nights                                5847 non-null   int64
 35  minimum_minimum_nights                        5847 non-null   float64
 36  maximum_minimum_nights                        5847 non-null   float64
 37  minimum_maximum_nights                        5847 non-null   float64
 38  maximum_maximum_nights                        5847 non-null   float64
 39  minimum_nights_avg_ntm                        5847 non-null   float64
 40  maximum_nights_avg_ntm                        5847 non-null   float64
 41  has_availability                              5536 non-null   object
 42  availability_30                               5847 non-null   int64
 43  availability_60                               5847 non-null   int64
 44  availability_90                               5847 non-null   int64
 45  availability_365                              5847 non-null   int64
 46  calendar_last_scraped                         5847 non-null   object
 47  number_of_reviews                             5847 non-null   int64
 48  number_of_reviews_ltm                         5847 non-null   int64
 49  number_of_reviews_l30d                        5847 non-null   int64
 50  first_review                                  4625 non-null   object
 51  last_review                                   4625 non-null   object
 52  review_scores_rating                          5847 non-null   float64
 53  review_scores_accuracy                        5847 non-null   float64
 54  review_scores_cleanliness                     5847 non-null   float64
 55  review_scores_checkin                         5847 non-null   float64
 56  review_scores_communication                   5847 non-null   float64
 57  review_scores_location                        5847 non-null   float64
 58  review_scores_value                           5847 non-null   float64
 59  license                                       906 non-null    object
 60  instant_bookable                              5847 non-null   object
 61  calculated_host_listings_count                5847 non-null   int64
 62  calculated_host_listings_count_entire_homes   5847 non-null   int64
 63  calculated_host_listings_count_private_rooms  5847 non-null   int64
 64  calculated_host_listings_count_shared_rooms   5847 non-null   int64
 65  reviews_per_month                             5847 non-null   float64
 66  cityName                                      5847 non-null   object
dtypes: float64(22), int64(15), object(30)
memory usage: 3.0+ MB

In [ ]:
# fix structural inaccuracies for object before handling missing values for object
# Remove just one row where name is empty
dataModeReplacement.dropna(subset=['name'], inplace=True)
# where 'description' is empty just add No description
dataModeReplacement['description'].fillna('No description', inplace=True)
# where 'neighborhood_overview' is empty just add No neighborhood overview
dataModeReplacement['neighborhood_overview'].fillna('No neighborhood overview', inplace=True)
# where 'host_location' is empty fill it with the city name
dataModeReplacement['host_location'].fillna(dataModeReplacement['cityName'], inplace=True)
# where 'host_about' is empty just add No about
dataModeReplacement['host_about'].fillna('No about', inplace=True)
# replace host_neighbourhood na values with no neighbourhood specified
dataModeReplacement['host_neighbourhood'].fillna('No neighbourhood specified', inplace=True)

# drop neighbourhood_group_cleansed as nearly half the values are missing
#dataModeReplacement.drop(['neighbourhood_group_cleansed'], axis=1, inplace=True)

# drop null values of bathrooms_text
dataModeReplacement.dropna(subset=['bathrooms_text'], inplace=True)

# replace has_availabilty with "f"
dataModeReplacement['has_availability'].fillna('f', inplace=True)

# drop license column
dataModeReplacement.drop(['license'], axis=1, inplace=True)

<ipython-input-41-074b50c17858>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataModeReplacement['description'].fillna('No description', inplace=True)
<ipython-input-41-074b50c17858>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataModeReplacement['neighborhood_overview'].fillna('No neighborhood overview', inplace=True)
<ipython-input-41-074b50c17858>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataModeReplacement['host_location'].fillna(dataModeReplacement['cityName'], inplace=True)
<ipython-input-41-074b50c17858>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataModeReplacement['host_about'].fillna('No about', inplace=True)
<ipython-input-41-074b50c17858>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataModeReplacement['host_neighbourhood'].fillna('No neighbourhood specified', inplace=True)
<ipython-input-41-074b50c17858>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataModeReplacement['has_availability'].fillna('f', inplace=True)

Important points for object features: host_response_time categorical feature

host_response_rate, host_acceptance_rate - structural inaccuracy remove the %

host_is_superhost f-0 t-1

In [ ]:
dataModeReplacement.info()
# in the price column which is a string, drop the $ and comma(,) sign and convert it to float64
dataModeReplacement['price'] = dataModeReplacement['price'].str.replace('$', '').str.replace(',', '').astype(float)
# rename price as price_in_dollars
dataModeReplacement.rename(columns={'price': 'price_in_dollars'}, inplace=True)
# convert host_response_rate and host_acceptance_rate in similar manner
dataModeReplacement['host_response_rate'] = dataModeReplacement['host_response_rate'].str.replace('%', '').astype(float)
dataModeReplacement['host_acceptance_rate'] = dataModeReplacement['host_acceptance_rate'].str.replace('%', '').astype(float)
# rename with extra underscore _in_percent
dataModeReplacement.rename(columns={'host_response_rate': 'host_response_rate_in_percent', 'host_acceptance_rate': 'host_acceptance_rate_in_percent'}, inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 5842 entries, 0 to 5846
Data columns (total 66 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            5842 non-null   float64
 1   last_scraped                                  5842 non-null   object
 2   name                                          5842 non-null   object
 3   description                                   5842 non-null   object
 4   neighborhood_overview                         5842 non-null   object
 5   host_id                                       5842 non-null   int64
 6   host_name                                     5842 non-null   object
 7   host_since                                    5842 non-null   object
 8   host_location                                 5842 non-null   object
 9   host_about                                    5842 non-null   object
 10  host_response_time                            4767 non-null   object
 11  host_response_rate                            4767 non-null   object
 12  host_acceptance_rate                          4873 non-null   object
 13  host_is_superhost                             5736 non-null   object
 14  host_neighbourhood                            5842 non-null   object
 15  host_listings_count                           5842 non-null   float64
 16  host_total_listings_count                     5842 non-null   float64
 17  host_verifications                            5842 non-null   object
 18  host_has_profile_pic                          5842 non-null   object
 19  host_identity_verified                        5842 non-null   object
 20  neighbourhood_cleansed                        5842 non-null   object
 21  neighbourhood_group_cleansed                  2407 non-null   object
 22  latitude                                      5842 non-null   float64
 23  longitude                                     5842 non-null   float64
 24  property_type                                 5842 non-null   object
 25  room_type                                     5842 non-null   object
 26  accommodates                                  5842 non-null   int64
 27  bathrooms                                     5842 non-null   float64
 28  bathrooms_text                                5842 non-null   object
 29  bedrooms                                      5842 non-null   float64
 30  beds                                          5842 non-null   float64
 31  amenities                                     5842 non-null   object
 32  price                                         4816 non-null   object
 33  minimum_nights                                5842 non-null   int64
 34  maximum_nights                                5842 non-null   int64
 35  minimum_minimum_nights                        5842 non-null   float64
 36  maximum_minimum_nights                        5842 non-null   float64
 37  minimum_maximum_nights                        5842 non-null   float64
 38  maximum_maximum_nights                        5842 non-null   float64
 39  minimum_nights_avg_ntm                        5842 non-null   float64
 40  maximum_nights_avg_ntm                        5842 non-null   float64
 41  has_availability                              5842 non-null   object
 42  availability_30                               5842 non-null   int64
 43  availability_60                               5842 non-null   int64
 44  availability_90                               5842 non-null   int64
 45  availability_365                              5842 non-null   int64
 46  calendar_last_scraped                         5842 non-null   object
 47  number_of_reviews                             5842 non-null   int64
 48  number_of_reviews_ltm                         5842 non-null   int64
 49  number_of_reviews_l30d                        5842 non-null   int64
 50  first_review                                  4622 non-null   object
 51  last_review                                   4622 non-null   object
 52  review_scores_rating                          5842 non-null   float64
 53  review_scores_accuracy                        5842 non-null   float64
 54  review_scores_cleanliness                     5842 non-null   float64
 55  review_scores_checkin                         5842 non-null   float64
 56  review_scores_communication                   5842 non-null   float64
 57  review_scores_location                        5842 non-null   float64
 58  review_scores_value                           5842 non-null   float64
 59  instant_bookable                              5842 non-null   object
 60  calculated_host_listings_count                5842 non-null   int64
 61  calculated_host_listings_count_entire_homes   5842 non-null   int64
 62  calculated_host_listings_count_private_rooms  5842 non-null   int64
 63  calculated_host_listings_count_shared_rooms   5842 non-null   int64
 64  reviews_per_month                             5842 non-null   float64
 65  cityName                                      5842 non-null   object
dtypes: float64(22), int64(15), object(29)
memory usage: 3.0+ MB

In [ ]:
# hrr, har, his
# price_in_dollars
# first_review, last_review, host_response_time
# the only remaining columns with missing values

In [ ]:
# set 1: hrt, hrr, har, his try with median replacement, mode replacement and arbitraty low frequency value replacement
DataWithMedianReplacement=dataModeReplacement.copy()
DataWithModeReplacement=dataModeReplacement.copy()
colList=['host_response_rate_in_percent', 'host_acceptance_rate_in_percent']
# It is not possible to mask NaN for these

DataWithMedianReplacement[colList]=DataWithMedianReplacement[colList].fillna(DataWithMedianReplacement[colList].median())
DataWithModeReplacement[colList]=DataWithModeReplacement[colList].fillna(DataWithModeReplacement[colList].mode().iloc[0])

infodic = {}
for model_name, model_df in {
    'Median Replacement': DataWithMedianReplacement,
    'Mode Replacement': DataWithModeReplacement
}.items():infodic[model_name] = {
        'mean': model_df.describe().loc['mean'],
        'std': model_df.describe().loc['std'],
        '50%': model_df.describe().loc['50%']
    }

best_model = find_model_with_most_min_keys(infodic)
print(f"The model with the most keys of minimum absolute value is: {best_model}")

The model with the most keys of minimum absolute value is: Median Replacement

In [ ]:
# Going ahead with DataWithMedianReplacemen
# to fill price in dollars, mean, median, outlier replacement
# print unique values of price_in_dollars
dataMeanReplacement=DataWithMedianReplacement.copy()
dataMedianReplacement=DataWithMedianReplacement.copy()
dataOutlierReplacement=DataWithMedianReplacement.copy()

# replace na values of price with mean
dataMeanReplacement['price_in_dollars']=dataMeanReplacement['price_in_dollars'].fillna(dataMeanReplacement['price_in_dollars'].mean())
# replace na values of price with median
dataMedianReplacement['price_in_dollars']=dataMedianReplacement['price_in_dollars'].fillna(dataMedianReplacement['price_in_dollars'].median())
# define outlier as mean + 3*std dev
dataOutlierReplacement['price_in_dollars']=dataOutlierReplacement['price_in_dollars'].fillna(dataOutlierReplacement['price_in_dollars'].mean() + 3*dataOutlierReplacement['price_in_dollars'].std())

infodic= {}
for model_name, model_df in {
    'Mean Replacement': dataMeanReplacement,
    'Median Replacement': dataMedianReplacement,
    'Outlier Replacement': dataOutlierReplacement
}.items():infodic[model_name] = {
        'mean': model_df.describe().loc['mean'],
        'std': model_df.describe().loc['std'],
        '50%': model_df.describe().loc['50%']
        }
best_model = find_model_with_most_min_keys(infodic)
print(f"The model with the most keys of minimum absolute value is: {best_model}")

The model with the most keys of minimum absolute value is: Mean Replacement

In [ ]:
# going ahead with mean replacement in prices
# We should not replace with null values of first_review and last_review with mode as it can lead to illogical ideas
# replace first_review na with host_since and last_review with last_scraped
# also drop calendar_last_scraped as it is a redundant column with respect to last_scraped
dataMeanReplacement['first_review']=dataMeanReplacement['first_review'].fillna(dataMeanReplacement['host_since'])
dataMeanReplacement['last_review']=dataMeanReplacement['last_review'].fillna(dataMeanReplacement['last_scraped'])
dataMeanReplacement.drop(['calendar_last_scraped'], axis=1, inplace=True)

In [ ]:
# replace na values of host_response_time with mode (justification *) dataMeanReplacement
dataMeanReplacement['host_response_time']=dataMeanReplacement['host_response_time'].fillna(dataMeanReplacement['host_response_time'].mode().iloc[0])

In [ ]:
# count the number of t and f entries of host_is_superhost
dataMeanReplacement['host_is_superhost'].value_counts()
# fill the na values with f
dataMeanReplacement['host_is_superhost']=dataMeanReplacement['host_is_superhost'].fillna('f')

In [ ]:
dataMeanReplacement.describe()
dataMissingHandled=dataMeanReplacement.copy()
# create a list of float64 dtype columns of dataMissingHandled
floatColList=dataMissingHandled.select_dtypes(include=['float64']).columns
print(floatColList)

Index(['id', 'host_response_rate_in_percent',
       'host_acceptance_rate_in_percent', 'host_listings_count',
       'host_total_listings_count', 'latitude', 'longitude', 'bathrooms',
       'bedrooms', 'beds', 'price_in_dollars', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'reviews_per_month'],
      dtype='object')

In [ ]:
# drop duplicates
dataDuplicatesHandled=dataMissingHandled.drop_duplicates(inplace=False)
dataDuplicatesHandled.describe()

,id,host_id,host_response_rate_in_percent,host_acceptance_rate_in_percent,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,5.842000e+03,5.842000e+03,5842.000000,5842.000000,5842.000000,5842.000000,5842.000000,5842.000000,5842.000000,5842.000000,...,5842.000000,5842.000000,5842.000000,5842.000000,5842.000000,5842.000000,5842.000000,5842.000000,5842.000000,5842.000000
mean,4.893761e+17,1.940227e+08,96.059740,87.721842,152.061452,205.976720,39.151400,-75.382285,3.743239,1.305118,...,4.765950,4.867855,4.868918,4.771708,4.709182,28.398665,18.452927,8.941116,0.037316,1.411525
std,4.768432e+17,1.823200e+08,14.618871,21.893460,688.725025,842.967353,5.562164,3.294201,2.670095,0.684079,...,0.400494,0.322004,0.334875,0.358723,0.399655,100.584641,83.577448,57.055402,0.461840,1.573427
min,6.990000e+03,1.680000e+04,0.000000,0.000000,1.000000,1.000000,25.961850,-82.669470,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,3.555645e+07,3.068375e+07,100.000000,88.000000,1.000000,2.000000,40.677498,-77.616732,2.000000,1.000000,...,4.750000,4.880000,4.890000,4.740000,4.670000,1.000000,1.000000,0.000000,0.000000,0.390000
50%,6.097767e+17,1.242785e+08,100.000000,97.000000,3.000000,5.000000,40.765770,-73.981765,3.000000,1.000000,...,4.880000,4.960000,4.960000,4.870000,4.800000,3.000000,1.000000,0.000000,0.000000,0.920000
75%,9.499810e+17,3.606770e+08,100.000000,99.000000,16.000000,21.000000,42.374205,-73.789376,5.000000,1.500000,...,4.970000,5.000000,5.000000,4.960000,4.900000,11.000000,5.000000,1.000000,0.000000,1.800000
max,1.237960e+18,5.917071e+08,100.000000,100.000000,4682.000000,9019.000000,43.265730,-71.002710,16.000000,12.500000,...,5.000000,5.000000,5.000000,5.000000,5.000000,876.000000,876.000000,719.000000,12.000000,19.140000

In [ ]:
# print minimum and maximum for all numerical types along with name of dataDuplicatesHandled
for col in dataDuplicatesHandled.select_dtypes(include=['float64', 'int64']).columns:
  print(col)
  print("Minimum: ", dataDuplicatesHandled[col].min())
  print("Maximum: ", dataDuplicatesHandled[col].max())
  print()

id
Minimum:  6990.0
Maximum:  1.23796e+18

host_id
Minimum:  16800
Maximum:  591707122

host_response_rate_in_percent
Minimum:  0.0
Maximum:  100.0

host_acceptance_rate_in_percent
Minimum:  0.0
Maximum:  100.0

host_listings_count
Minimum:  1.0
Maximum:  4682.0

host_total_listings_count
Minimum:  1.0
Maximum:  9019.0

latitude
Minimum:  25.96185
Maximum:  43.26573

longitude
Minimum:  -82.66947
Maximum:  -71.00271

accommodates
Minimum:  1
Maximum:  16

bathrooms
Minimum:  0.0
Maximum:  12.5

bedrooms
Minimum:  0.0
Maximum:  15.0

beds
Minimum:  0.0
Maximum:  25.0

price_in_dollars
Minimum:  10.0
Maximum:  100000.0

minimum_nights
Minimum:  1
Maximum:  1124

maximum_nights
Minimum:  1
Maximum:  1125

minimum_minimum_nights
Minimum:  1.0
Maximum:  1124.0

maximum_minimum_nights
Minimum:  1.0
Maximum:  1124.0

minimum_maximum_nights
Minimum:  1.0
Maximum:  2147483647.0

maximum_maximum_nights
Minimum:  1.0
Maximum:  2147483647.0

minimum_nights_avg_ntm
Minimum:  1.0
Maximum:  1124.0

maximum_nights_avg_ntm
Minimum:  1.0
Maximum:  2147483647.0

availability_30
Minimum:  0
Maximum:  30

availability_60
Minimum:  0
Maximum:  60

availability_90
Minimum:  0
Maximum:  90

availability_365
Minimum:  0
Maximum:  365

number_of_reviews
Minimum:  0
Maximum:  1333

number_of_reviews_ltm
Minimum:  0
Maximum:  161

number_of_reviews_l30d
Minimum:  0
Maximum:  17

review_scores_rating
Minimum:  1.0
Maximum:  5.0

review_scores_accuracy
Minimum:  0.0
Maximum:  5.0

review_scores_cleanliness
Minimum:  0.0
Maximum:  5.0

review_scores_checkin
Minimum:  0.0
Maximum:  5.0

review_scores_communication
Minimum:  0.0
Maximum:  5.0

review_scores_location
Minimum:  0.0
Maximum:  5.0

review_scores_value
Minimum:  0.0
Maximum:  5.0

calculated_host_listings_count
Minimum:  1
Maximum:  876

calculated_host_listings_count_entire_homes
Minimum:  0
Maximum:  876

calculated_host_listings_count_private_rooms
Minimum:  0
Maximum:  719

calculated_host_listings_count_shared_rooms
Minimum:  0
Maximum:  12

reviews_per_month
Minimum:  0.01
Maximum:  19.14

In [ ]:
#dataDuplicatesHandled.drop(['neighbourhood_group_cleansed'], axis=1, inplace=True)
# print unique values of all object types
for col in dataDuplicatesHandled.select_dtypes(include=['object']).columns:
  print(col)
  print(dataDuplicatesHandled[col].unique())
  print()

last_scraped
['05-09-2024' '2024-06-21' '2024-06-22' '2024-06-26' '2024-06-27'
 '2024-06-28' '2024-06-29' '2024-06-25' '2024-06-24' '2024-06-30'
 '2024-07-01' '2024-09-05' '2024-09-04' '2024-08-22' '2024-08-23']

name
['Luxury 2 bedroom apartment' 'Restored Precinct in Center Sq. w/Parking'
 'Large studio apt  by Capital Center & ESP@' ...
 'Spacious 2 Bedroom Apartment in 1910 Tudor'
 'Private Room near RGH, Higland Hospital, downtown'
 'Mid-Century Modern Unit at Sibley Square']

description
["The apartment is located in a quiet neighborhood . Fully furnished. Linens and towels are provided. It's two blocks away from downtown Albany, and the Palace theater."
 "Cozy, cool little 1BR Apt in the heart Albany's Center Sq. close to everything.  Enjoy the hip, walking neighborhood and verdant Washington Park in a neighborhood with great eats, architecture and culture... Everything you need down to the corkscrew."
 "Spacious studio with hardwood floors, fully equipped kitchen, clean and bright. Large modern bath .  Full Cable TV and WiFi. Walking distance to the new Renaissance Hotel.<br />Walk to everything downtown! The Empire Plaza  and the Egg are  across the street.You can't get any closer, to the MVP Arena,  as well as Restaurants, bars, churches. Walk to  Capital and the new Capital Convention Center. Laundry facilities in the apartment"
 ...
 'Spacious 2 Bedroom apartment on top floor of 1910 Tudor Home on a tree-lined private street with off-street parking. Centrally located and walkable to shops, museums and restaurants on East and Park Avenues.<br />We have recently added new Prana Sleep beds for both bedrooms to maximize guest comfort and enjoyment.'
 'Come and Cozy up for this winter season. In one of our many single furnished units in and around the Rochester area.<br />Ranger Rentals Inc. has an array of newly designed furnished rooms for working adults. Whether youâ€™re looking for something closer to downtown or a place closer to Charlotte.<br /> We have you covered.'
 "Experience Mid-Century modern living in downtown Rochester at Spectra in Sibley Square. This one-bedroom, one-bath apartment boasts a bright interior with large windows, a spacious 30' living area, including an office and dining area, and a fully equipped galley kitchen. High-quality finishes, gray-washed laminate floors, ample closet space, and an in-unit washer and dryer enhance the elegance of this stylish unit."]

neighborhood_overview
['No neighborhood overview'
 'Great restaurants, architecture, walking, people watching and arts.'
 'The neighborhood is very eclectic. We have a variety of restaurants, markets and shopping along with cultural things to do . the Capital is within a five minute walk as is the Empire Plaza. We have Cafe Capricio on Grand St for great northern Italian. Down the street we also have a traditional well known Italian restaurant Lombardos, for great red sauce. There are plenty of small cafe/ bars within walking distance too'
 ... 'Neighborhood with old homes and tree-lined streets'
 'With this prime location you have access to visit the Memorial Art Gallery (M.A.G.), as well as the other wondrous street art venues that have grown in our Art District for those artistic culture explorers. For those looking for more of a nightlife and Mixers crowd, we have the nearby social spots on Alexander and Park Ave with a little something for everyone. Next is Village Gate, which is less than a 10-minute walk over the bridge where you can experience some of the local fare with coffee and souvenir shops as well as some local home-grown restaurants. And finally, is the jewel of the city, the Public Market. Open on the weekends and on Wednesdays, this is one of the cityâ€™s most well-known attractions.'
 "The unit is located at Sibley Square, formerly a department store converted into a multi-use building. Sibley Square is directly in the center of the City of Rochester and within walking distance to Eastman School of Music, restaurants, Eastman Theater, coffee shops, etc. It is also within minutes from the Genesee Riverway Trail, The Strong Museum, Memorial Art Gallery, Eastman Theatre, Gibbs Street, etc. Sibley Square exposes you to all of Rochester's art, history, culture, and natural beauty."]

host_name
['Kenneth' 'Terra' 'Gregg' ... 'Kristine' 'Courtney' 'Ted']

host_since
['07-01-2013' '07-08-2014' '13-03-2015' ... '2023-12-13' '2016-10-06'
 '2017-02-19']

host_location
['New York, NY' 'Albany' 'Albany, NY' 'Stamford, NY' 'Gloversville, NY'
 'United States' 'Delmar, NY' 'Saratoga Springs, NY' 'Glenville, NY'
 'Latham, NY' 'Portland, OR' 'Woodbury, NY' 'Providence, RI'
 'Valley Stream, NY' 'Northampton, PA' 'Voorheesville, NY' 'Esperance, NY'
 'Fort Walton Beach, FL' 'Lisbon, Portugal' 'Schenectady, NY'
 'Washington, DC' 'New York, United States' 'Rochester, NY' 'Colonie, NY'
 'Tampa, FL' 'Roselle, NJ' 'New Hartford, NY' 'Asheville, NC' 'Miami, FL'
 'Ashville' 'Silver Spring, MD' 'Littleton, CO' 'Houston, TX'
 'North Carolina, United States' 'Fletcher, NC' 'Swannanoa, NC'
 'Arden, NC' 'Leicester, NC' 'Woodfin, NC' 'Boston, MA' 'Weaverville, NC'
 'Candler, NC' 'California, United States' 'Raleigh, NC' 'Chapel Hill, NC'
 'Bradenton, FL' 'Charleston, SC' 'Austin, TX' 'Hendersonville, NC'
 'San Diego, CA' 'Black Mountain, NC' 'Indianapolis, IN' 'Charlotte, NC'
 'Georgia, United States' 'Concord, NC' 'Peterborough, Canada'
 'Truckee, CA' 'Roswell, GA' 'Boston' 'Quincy, MA'
 'Massachusetts, United States' 'Cambridge, MA' 'Dedham, MA'
 'Occidental, CA' 'Newton, MA' 'Malden, MA' 'Hawthorne, NJ'
 'Shrewsbury, MA' 'Atlanta, GA' 'Norton, MA' 'Dallas, TX'
 'Alkmaar, Netherlands' 'Belvedere Tiburon, CA' 'Everett, MA'
 'San Francisco, CA' 'Denver, CO' 'Santa Clarita, CA' 'Pompano Beach, FL'
 'Lauderdale-by-the-Sea, FL' 'Fort Lauderdale, FL' 'BrowardCounty'
 'Los Angeles, CA' 'Hallandale Beach, FL' 'North Myrtle Beach, SC'
 'Miami Beach, FL' 'Plantation, FL' 'Boca Raton, FL'
 'North Miami Beach, FL' 'Hollywood, FL' 'Sunrise, FL' 'Miramar, FL'
 'Dania Beach, FL' 'Margate, FL' 'Santa Fe, Argentina' 'Davie, FL'
 'Pembroke Pines, FL' 'Buenos Aires, Argentina' 'Florida, United States'
 'Douglas, MI' 'Montreal, Canada' 'Rockford, MI' 'Orlando, FL'
 'Cluj-Napoca, Romania' 'Deerfield Beach, FL' 'Brossard, Canada'
 'Long Island, Bahamas' 'Myrtle Beach, SC' 'Miami Gardens, FL'
 'Laval, Canada' 'Marbella, Spain' 'Delray Beach, FL'
 'Richmond Hill, Canada' 'Vaughan, Canada' 'Ocean Township, NJ'
 'Boise, ID' 'Wilton Manors, FL' 'Clermont, FL' 'North Bergen, NJ'
 'Weston, FL' 'Lighthouse Point, FL' 'Princeville, HI'
 'West Palm Beach, FL' 'Pensacola, FL' 'Aventura, FL' 'San Rafael, CA'
 'Gahanna, OH' 'Somerville, MA' 'Las Vegas, NV' 'Maryland, United States'
 'Gainesville, FL' 'Canada' 'Philadelphia, PA' 'Crystal Lake, IL'
 'Oakland Park, FL' 'West Bloomfield Township, MI' 'Oakland, CA'
 'Macon, GA' 'Missouri, United States' 'Toronto, Canada' 'Lakeland, FL'
 'Beachwood, OH' 'Alamo, CA' 'Toms River, NJ' 'AsunciÃ³n, Paraguay'
 'Bethel, ME' 'Sunny Isles Beach, FL' 'Lafayette Hill, PA'
 'Barrie, Canada' 'Coral Springs, FL' 'Kissimmee, FL'
 'Velden am WÃ¶rthersee, Austria' 'Wheeling, WV' 'Parkland, FL'
 'New Orleans, LA' 'North Lauderdale, FL' 'Durham, NC' 'Falmouth, MA'
 'Coral Gables, FL' 'Edison, NJ' 'Argentina' 'Burlington, Canada'
 'Tamarac, FL' 'Panama City Beach, FL' 'Bay Shore, NY' 'Lansing, MI'
 'West Orange, NJ' 'Farmington Hills, MI' 'GarÃ­n, Argentina' 'Seattle, WA'
 'Richmond, VA' 'San Juan, Puerto Rico' 'Missouri City, MO'
 'Warsaw, Poland' 'Lima, Peru' 'Noblestown, PA' 'Lauderhill, FL'
 'Williamsburg, VA' 'Schwenksville, PA' 'Hopkinton, MA' 'Cambridge'
 'Belmont, MA' 'Santiago, Chile' 'Sperryville, VA' 'Walpole, MA'
 'Jersey City, NJ' 'JerseyCity' 'Weehawken, NJ' 'Ridgewood, NJ'
 'New Jersey, United States' 'West New York, NJ' 'Owego, NY' 'Copake, NY'
 'Bayonne, NJ' 'Chicago, IL' 'Hoboken, NJ' 'Elizabeth, NJ' 'Newark, NJ'
 'New Providence, NJ' 'Newark' 'Fort Lee, NJ' 'Haledon, NJ'
 'Baltimore, MD' 'Clifton, NJ' 'Midland Park, NJ' 'Merida, Mexico'
 'Union, NJ' 'Perth Amboy, NJ' 'Kearny, NJ' 'Wildwood, NJ'
 'East Orange, NJ' 'Irvington, NJ' 'City of Orange, NJ' 'NewYork'
 'Madrid, Spain' 'Claremont, NH' 'Bangkok, Thailand'
 'Ille-sur-TÃªt, France' 'McLean, VA' 'Calumet, OK' 'Rome, Italy'
 'The Bronx, NY' 'Mumbai, India' 'Troy, NY' 'Tempe, AZ' 'Swarthmore, PA'
 'Dubai, United Arab Emirates' 'Takoma Park, MD' 'Glen Head, NY'
 'San Jose, Costa Rica' 'Princeton, NJ' 'Westfield, NJ' 'Trapani, Italy'
 'Baton Rouge, LA' 'Hong Kong' 'England, United Kingdom' 'Queensbury, NY'
 'Pennsylvania, United States' 'Amsterdam, Netherlands'
 'London, United Kingdom' 'Brooklyn, NY' 'Atlantic Beach, NY'
 'Naka Ward, Japan' 'Israel' 'Irving, TX' 'Edmonton, Canada'
 'Pittsburgh, PA' 'Barcelona, Spain' 'Narrowsburg, NY'
 'Saint-Aubin-sur-Scie, France' 'Burke, VA' 'Thousand Oaks, CA'
 'North Las Vegas, NV' 'Cypress, CA' 'Ipswich, MA' 'Floral Park, NY'
 'Harrow, United Kingdom' 'Buffalo, NY' 'Montclair, NJ' 'Long Beach, NY'
 'Lyndonville, VT' 'Manhattan, KS' 'Carolina, Puerto Rico' 'Queens, NY'
 'Syracuse, NY' 'Levittown, NY' 'Chihuahua, Mexico' 'Bronxville, NY'
 'Lumberton, NJ' 'Jerusalem, Israel' 'Santa Cruz, CA' 'Stamford, CT'
 'Provo, UT' 'Singapore' 'Berkeley, CA' 'Mexico City, Mexico'
 'Marcus Hook, PA' 'Mississauga, Canada' 'Florence Township, NJ'
 'Manhattan Beach, CA' 'Marina Del Rey, CA' 'Tarrytown, NY' 'Roxbury, CT'
 'Paris, France' 'New York, IA' 'Elgin, IL' 'Beaufort, NC' 'Nashville, TN'
 'Santa Barbara, CA' 'Hawaii, United States' 'Holmdel, NJ'
 'Waynesville, NC' 'Newport, RI' 'Jacksonville, FL' 'Plainview, NY'
 'Wisconsin Dells, WI' 'Treviso, Italy' 'Greeley, CO' 'Brooklyn, Canada'
 'Searsmont, ME' 'Wellington, New Zealand' 'Wheatley Heights, NY'
 'Hudson, NY' 'Nassau, NY' 'Santa Monica, CA' 'Gardena, CA' 'Madison, NJ'
 'Woonsocket, RI' 'Simsbury, CT' 'New Shoreham, RI' 'Bristol, CT'
 'Little Compton, RI' 'South Salem, NY' 'Warwick, RI' 'RhodeIsland'
 'Narragansett, RI' 'South Kingstown, RI' 'Westerly, RI'
 'Village of Pelham, NY' 'Bristol, RI' 'Portsmouth, RI' 'Frederick, MD'
 'Telluride, CO' 'Revere, MA' 'Rhode Island, United States'
 'East Greenwich, RI' 'Cumberland, RI' 'North Kingstown, RI'
 'Middletown, RI' 'Coventry, RI' 'Barrington, RI' 'Central Falls, RI'
 'Block Island, RI' 'East Providence, RI' 'Scotch Plains, NJ'
 'Worcester, MA' 'Charlestown, RI' 'Cranston, RI' 'New Haven, CT'
 'Jamestown, RI' 'Pawtucket, RI' 'Needham, MA' 'Boulder, CO'
 'Smithfield, RI' 'Bloomingdale, NJ' 'Springfield, MA' 'Burrillville, RI'
 'Tiverton, RI' 'Watsonville, CA' 'West Warwick, RI'
 'Connecticut, United States' 'Fairfield, CT' 'Littleton, MA'
 'Melrose, MA' 'West Hartford, CT' 'Old Lyme, CT' 'Mill Valley, CA'
 'Lincoln, RI' 'Arlington, MA' 'North Providence, RI' 'Winchester, MA'
 'Eugene, OR' 'Hartsdale, NY' 'Hatillo, Puerto Rico' 'Hampton, NH'
 'Johnston, RI' 'Warren, RI' 'Denville, NJ' 'Port Chester, NY'
 'Medfield, MA' 'Westport, MA' 'New Canaan, CT' 'Andover, MA'
 'Swansea, MA' 'Harvard, MA' 'Westborough, MA' 'Franklin, MA'
 'Woodstock, CT' 'Norwood, MA' 'Daytona Beach, FL' 'Rochester'
 'Lucca, Italy' 'Greece, NY' 'Cayuga, NY' 'Naples, NY' 'Brighton, NY'
 'Pittsford, NY' 'Irondequoit, NY' 'Northport, NY' 'Victor, NY'
 'Duluth, GA' 'Fairport, NY' 'Endicott, NY' 'Nebraska, United States'
 'Anaheim, CA' 'Carson, CA' 'Penfield, NY' 'Henrietta, NY' 'Newark, DE'
 'Hod Hasharon, Israel' 'Sarasota, FL' 'Webster, NY' 'Larkspur, CO'
 'Cerritos, CA' 'Gambrills, MD' 'Bloomington, IN' 'High Ridge, MO'
 'Allen, TX' 'Ellicott City, MD' 'Concord, MA' 'Winston-Salem, NC'
 'Seaside Heights, NJ' 'Geneva, NY']

host_about
['I am a real down to earth & cool person.'
 "I'm from Kansas City, MO. I've driven the entire US, logging over a  million miles on a 10 year working road trip. I settled in Albany, NY, a hardworking, no-nonsense sort of town, drenched in history, education and politics. I love this town not just for the town itself as much as the location. It's truly a sportsman's(sportswoman's) paradise, while being so close to very civilized civilization. There's easy access to NYC, Saratoga, Lake George, Vermont, Montreal & my favorite The Berkshires in Massachusetts.  "
 'I am an Albany native .I have lived in Ireland and had a B & B in Tramore County Waterford back in the early nineties. While doing so we met a lot of wonderful people. I have been in the real estate business for over 30 years . I believe in keeping the mind and body fit. I am easy going and love a good laugh. '
 ...
 "I am from and currently living in Rochester, NY, but I've also lived in Buffalo, NY, Winchester, VA, Vadodara, Gujarat, India, and Kathmandu, Nepal. \r\n\r\nI work as an ESL teacher in Rochester and volunteer with local urban agriculture projects throughout the city.  I also really enjoy photography and working on pen and inks."
 "See Our Weekly/Monthly Discounts!\r\nME: Energy Efficiency Consultant, Environmental Activist, Electric Car and Mountain Bike Enthusiast. \r\nLIZ: Actor,  Extroverted introvert, Collector of Friend's and Fun."
 "Hello and welcome to our Airbnb loft page!\n\nMy fiancÃ© Heather and I have traveled to many parts of the country for work and pleasure. While doing so, we have enjoyed a wide variety of places offered on Airbnb. Having experienced staying in other hosts' spaces, all the while traveling and meeting new people, we decided we would like hosting as well. Our loft/studio and gallery space is now available for anyone looking for that unique experience while traveling to Rochester. \nWe look forward to hosting you!\n\nTim\n"]

host_response_time
['within an hour' 'within a few hours' 'within a day' 'a few days or more']

host_is_superhost
['f' 't']

host_neighbourhood
['No neighbourhood specified' 'Center Square & Hudson/Park' 'Pine Hills'
 'Capitol Hill' 'Pastures' 'Marina' 'Delaware Avenue' 'Highland Lakes'
 'East Riverside - Oltorf' 'Central Avenue' 'Mansion Area' 'Helderberg'
 'Melrose' 'Downtown' 'Ten Broeck Triangle' 'Manning Boulevard'
 'Sheridan Hollow' 'Washington Park' 'Whitehall' 'New Scotland' 'Richmond'
 'Park South' 'Midtown East' 'Arbor Hill' 'Second Avenue' 'West Hill'
 "Bishop's Gate" 'Upper Washington Avenue' 'Buckingham Lake' 'Normanskill'
 'Southeast Raleigh' 'Beverwyck' 'North Fork' 'North Side'
 'South End-Groesbeckville Historic District' 'Ybor City' 'Polar Rock'
 'Five Points' 'Oakley' 'Burton Street' 'Montford Area Historic District'
 'South Slope Brewing District' 'Falconhurst' 'Double Oaks'
 'Westwood Place' 'River Arts District' 'Beverly Hills' 'Jackson Park'
 'Huston - Courtland' 'Proyecto escola' 'Hall Fletcher'
 'Historic District' 'Grace' 'Grove Park- Sunset' 'Haw Creek'
 'West Asheville Estates' 'Malvern Hills' 'City of Marco'
 'East End - Valley Street' 'Supply' 'Oak Forest' 'Greater Pinellas Point'
 'Enka' 'Pacific Beach' 'Clearwater Beach' 'Kenilworth'
 'Riverside Industrial' 'Chestnut Hills' 'Bear Creek'
 'Charlotte center city' 'Shiloh' 'East Boston' 'Dorchester'
 'Upper East Side' 'Spring Hill' 'Vineyard Haven' 'Fenwayâ€“Kenmore'
 'Fenway/Kenmore' 'Beacon Hill' 'Back Bay'
 'Scottsdale Villa Mirage Resort Condo' 'Cambridge' 'Charlestown'
 'Allston-Brighton' 'Jamaica Plain' 'South Boston' "Hell's Kitchen"
 'Theater District' 'Boston Theater District' 'Brighton' 'Mattapan'
 'Roxbury' 'Codman Square' 'Prudential / St. Botolph' 'Newton Highlands'
 'Columbus Park / Andrew Square' 'South End' 'Hyde Park' 'Roslindale'
 "St. Elizabeth's" 'South Beach' 'Central City' 'Lower Allston'
 'West Roxbury' 'Leather District' 'Harvard Square' 'Chestnut Hill'
 'Gateway District' 'Downtown Crossing' 'D Street / West Broadway'
 'Burbank Gardens Neighborhood Association' 'Allston' 'Back Bay West'
 'Longwood Medical and Academic Area' 'West Fens' 'Bay Village' 'Brewster'
 'North End' 'Mission Hill' 'Franklin Field North' 'Newport East'
 'Harbor View / Orient Heights' 'Stony Brook / Cleary Square'
 'Harwich Port' 'Newton' 'Wellington Hill' 'West Street / River Street'
 'Eagle Hill' 'Jeffries Point' 'Northwest Washington' 'Coolidge Corner'
 'Malden' 'Commonwealth' 'West End' 'Brookline' 'Wellington-Harrington'
 'East Cambridge' 'Kingsbury' 'North Central' 'East Fort Lauderdale'
 'Hollywood Beach' 'Central Fort Lauderdale' 'South Middle River'
 'Poinsettia Heights' 'French Quarter' 'Victoria Park' 'Downtown Miami'
 'Lake Ridge' 'Royal Poinciana' 'South Fort Lauderdale'
 'Hollywood South Central Beach' 'Anaheim Resort' 'Central Beach Alliance'
 'Harbordale' 'Central Business District' 'Sunny Isles Beach'
 'Tarpon River' 'Hollywood Lakes' 'Waikiki' 'Miami Springs' 'Melrose Park'
 'Knoll Ridge' 'South Lake Tahoe' 'Galt Mile' 'Coral Ridge'
 'Riverside Park' 'Progresso Village' 'River Oaks' 'Midtown'
 'Coral Ridge Country Club' 'Poinciana Park' 'Barrier Island'
 'Boulevard Heights' 'Melaleuca Gardens' 'Harbour Inlet'
 'East Colorado Springs' 'Brickell' 'Hutchinson Island'
 'North Fort Lauderdale' 'Bermuda Riviera' 'Downtown Las Vegas'
 'Garden Grove' 'Parkside' 'Riverside' 'Hillcrest' 'Baristo'
 'Hollywood Hills' 'Sunset' 'Highland Gardens' 'Coral Shores'
 'Southwest Orlando' 'Melrose Manors' 'Central Corals' 'Miami Beach'
 'Marigny/Bywater' 'Hendricks and Venice Isles' 'Lauderdale Manors'
 'Wooster Square' 'Durrs' 'Coral Gables' 'Imperial Point' 'Mid-Beach'
 'Croissant Park' 'South Corals' 'North Beach' 'New Orleans East Area'
 'Pennington Bend' 'Rio Vista' 'Birch Park Finger Streets'
 'Jeffersonville' 'Central Oakland Park' 'Downtown Austin' 'South Tempe'
 'Dorsey Riverbend' 'Fair Haven' 'University Drive' 'Allapattah'
 'Tourist Corridor' 'Driftwood' 'Colee Hammock' 'Dillard Park'
 'ChampionsGate' 'Ala Moana' 'Trafalgar' 'Table Rock' 'Government Center'
 'Kailua/Kona' 'Lauderdale Beach' 'East Falmouth' 'Buckhead'
 'Newport Beach' 'Golden Glades' '441 Corridor' 'Lauderdale Isles'
 'Hadley Park' 'Palm Aire Village West' 'Lake Estates' 'South Miami'
 'Gay Village' 'Aberdeen' "Frenchman's Bay" 'Douglas' 'Oakridge'
 'Edgewood' 'Lakeshore' 'Ohio City' 'Smith Bay' 'Chicago Loop'
 'La Grande Princesse' 'College Park' 'Coconut Grove' 'Gaslamp Quarter'
 'Ward Two' 'Neighborhood Nine' 'North Cambridge' 'Central Square'
 'Mid-Cambridge' 'West Cambridge' 'Tufts' 'Cambridgeport'
 'Bergen-Lafayette' 'The Heights' 'Astoria' 'Downtown Jersey City'
 'McGinley Square' 'Greenville' 'Journal Square' 'West Side'
 'Bedford-Stuyvesant' 'Hackensack River Waterfront' 'Downtown Brooklyn'
 'Chinatown' 'North Ironbound' 'Powerhouse Arts District' 'The Village'
 'Edgewater' 'Hamilton Park' 'Newport' 'Springfield/Belmont'
 'University Heights' 'Weequahic' 'Upper Clinton Hill' 'Seventh Avenue'
 'Mount Pleasant/Lower Broadway' 'Lower Vailsburg' 'Lower Roseville'
 'Central Ward' 'Upper Vailsburg' 'East Ferry' 'South Broad Street'
 'Fairmount' 'Potrero Hill' 'Poblados MarÃ­timos' 'Chelsea'
 'North Broadway' 'Forest Hill' 'Lower Clinton Hill' 'Upper Roseville'
 'Lake Hopatcong' 'Constable Hook' 'South Side' 'Bolton' 'East Atlanta'
 'Martinsville' 'Dupont Circle' 'South Ironbound' 'Old City' 'Dayton'
 'Corales II' 'East New York' 'Jamaica' 'Lower East Side' 'Flatbush'
 'Bushwick' 'East Hollywood' 'Crown Heights' 'Gramercy Park'
 'Prospect Lefferts Gardens' 'City Island' 'Murray Hill'
 'Northeast Washington' 'Sheepshead Bay' 'Williamsburg' 'Brownsville'
 'East Bronx' 'Union Square' 'Southside' 'Flushing' 'East Harlem'
 'Park Slope' 'Boerum Hill' 'East Elmhurst' 'Canarsie' 'Richmond Hill'
 'Clinton Hill' 'Kips Bay' 'Parkchester' 'Little Caribbean'
 'Long Island City' 'Upper West Side' 'Harlem'
 'Zona Sin AsignaciÃ³n de Nombre de Colonia 1' 'Brighton Beach' 'Woodside'
 'Claremont' 'Ridgewood' 'Fort Greene' 'Greenpoint' 'Clifton' 'Ocean Hill'
 'Mariners Harbor' 'Elmhurst' 'Jumeirah Beach Residence'
 'Washington Heights' 'Forest Hills' 'Red Hook' 'East Flatbush'
 'Financial District' 'Stuyvesant Heights' 'East Williamsburg'

In [ ]:
# Remove structural inaccurcies: Fix Date some have yyyy-mm-dd others have mm-dd-yyyy
def format_date(date_str):
    try:
        # Attempt to parse as yyyy-mm-dd
        return pd.to_datetime(date_str, format='%Y-%m-%d').strftime('%d-%m-%Y')
    except ValueError:
        try:
            # If that fails, parse as mm/dd/yyyy
            return pd.to_datetime(date_str, format='%m/%d/%Y').strftime('%d-%m-%Y')
        except ValueError:
            # If both fail, return the original string (or handle as needed)
            return date_str

# Apply the formatting function to the date columns
for col in ['first_review', 'last_review', 'host_since']:
    dataDuplicatesHandled[col] = dataDuplicatesHandled[col].apply(format_date)

In [ ]:
# print unique values of first_review, last_review and host_since columns of dataDuplicatesHandled
for col in ['first_review', 'last_review', 'host_since']:
  print(col)
  print(dataDuplicatesHandled[col].unique())
  print()

first_review
['01-07-2014' '15-08-2014' '08-05-2015' ... '02-10-2017' '27-08-2017'
 '24-12-2017']

last_review
['17-08-2022' '31-07-2024' '27-08-2024' ... '25-01-2023' '14-07-2022'
 '08-08-2020']

host_since
['07-01-2013' '07-08-2014' '13-03-2015' ... '13-12-2023' '06-10-2016'
 '19-02-2017']

In [ ]:
dataDuplicatesHandled.info()
# print value counts of host_is_superhost
dataDuplicatesHandled['host_is_superhost'].value_counts()
# convert this dataframe to a csv
dataCleaned=dataDuplicatesHandled.to_csv('dataDuplicatesHandled.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 5842 entries, 0 to 5846
Data columns (total 65 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            5842 non-null   float64
 1   last_scraped                                  5842 non-null   object
 2   name                                          5842 non-null   object
 3   description                                   5842 non-null   object
 4   neighborhood_overview                         5842 non-null   object
 5   host_id                                       5842 non-null   int64
 6   host_name                                     5842 non-null   object
 7   host_since                                    5842 non-null   object
 8   host_location                                 5842 non-null   object
 9   host_about                                    5842 non-null   object
 10  host_response_time                            5842 non-null   object
 11  host_response_rate_in_percent                 5842 non-null   float64
 12  host_acceptance_rate_in_percent               5842 non-null   float64
 13  host_is_superhost                             5842 non-null   object
 14  host_neighbourhood                            5842 non-null   object
 15  host_listings_count                           5842 non-null   float64
 16  host_total_listings_count                     5842 non-null   float64
 17  host_verifications                            5842 non-null   object
 18  host_has_profile_pic                          5842 non-null   object
 19  host_identity_verified                        5842 non-null   object
 20  neighbourhood_cleansed                        5842 non-null   object
 21  neighbourhood_group_cleansed                  2407 non-null   object
 22  latitude                                      5842 non-null   float64
 23  longitude                                     5842 non-null   float64
 24  property_type                                 5842 non-null   object
 25  room_type                                     5842 non-null   object
 26  accommodates                                  5842 non-null   int64
 27  bathrooms                                     5842 non-null   float64
 28  bathrooms_text                                5842 non-null   object
 29  bedrooms                                      5842 non-null   float64
 30  beds                                          5842 non-null   float64
 31  amenities                                     5842 non-null   object
 32  price_in_dollars                              5842 non-null   float64
 33  minimum_nights                                5842 non-null   int64
 34  maximum_nights                                5842 non-null   int64
 35  minimum_minimum_nights                        5842 non-null   float64
 36  maximum_minimum_nights                        5842 non-null   float64
 37  minimum_maximum_nights                        5842 non-null   float64
 38  maximum_maximum_nights                        5842 non-null   float64
 39  minimum_nights_avg_ntm                        5842 non-null   float64
 40  maximum_nights_avg_ntm                        5842 non-null   float64
 41  has_availability                              5842 non-null   object
 42  availability_30                               5842 non-null   int64
 43  availability_60                               5842 non-null   int64
 44  availability_90                               5842 non-null   int64
 45  availability_365                              5842 non-null   int64
 46  number_of_reviews                             5842 non-null   int64
 47  number_of_reviews_ltm                         5842 non-null   int64
 48  number_of_reviews_l30d                        5842 non-null   int64
 49  first_review                                  5842 non-null   object
 50  last_review                                   5842 non-null   object
 51  review_scores_rating                          5842 non-null   float64
 52  review_scores_accuracy                        5842 non-null   float64
 53  review_scores_cleanliness                     5842 non-null   float64
 54  review_scores_checkin                         5842 non-null   float64
 55  review_scores_communication                   5842 non-null   float64
 56  review_scores_location                        5842 non-null   float64
 57  review_scores_value                           5842 non-null   float64
 58  instant_bookable                              5842 non-null   object
 59  calculated_host_listings_count                5842 non-null   int64
 60  calculated_host_listings_count_entire_homes   5842 non-null   int64
 61  calculated_host_listings_count_private_rooms  5842 non-null   int64
 62  calculated_host_listings_count_shared_rooms   5842 non-null   int64
 63  reviews_per_month                             5842 non-null   float64
 64  cityName                                      5842 non-null   object
dtypes: float64(25), int64(15), object(25)
memory usage: 2.9+ MB

In [ ]:
# get list of all columns:
print(dataCleaned.columns)
# get first r

Index(['id', 'name', 'description', 'neighborhood_overview', 'host_id',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate_in_percent', 'host_acceptance_rate_in_percent',
       'host_is_superhost', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_cleansed', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms',
       'beds', 'amenities', 'price_in_dollars', 'minimum_nights',
       'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'cityName'],
      dtype='object')
id                                                                                      2992450.0
name                                                                   Luxury 2 bedroom apartment
description                                     The apartment is located in a quiet neighborho...
neighborhood_overview                                                    No neighborhood overview
host_id                                                                                   4621559
                                                                      ...
calculated_host_listings_count_entire_homes                                                     1
calculated_host_listings_count_private_rooms                                                    0
calculated_host_listings_count_shared_rooms                                                     0
reviews_per_month                                                                            0.07
cityName                                                                                   Albany
Name: 0, Length: 62, dtype: object